.parts-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4; 
  padding: 20px;
}

.heading {
  text-align: left;
  width: 100%;
  font-size: 24px; 
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
  width: 100%; 
  max-width: 600px; 
}

.menu-link {
  background-color: #003366;
  color: white;
  display: block;
  padding: 10px 20px; 
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px; 
  text-decoration: none; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s;
}

.menu-link:hover {
  background-color: #004c99; 
}
