.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
  width: 50%;
  padding: 0 1rem;
}

.half-width {
  width: 50%;
  float: left;
}

.clear-fix {
  clear: both;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: calc(100% - 16px); /* Adjusted width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-btn {
  display: flex;
  justify-content: space-between; /* Adjusted distance between buttons */
  padding: 20px 0; /* Adjusted padding */
}

.btn {
  padding: 12px 24px; /* Increased length of buttons */
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.inventory-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
}

.inventory-form .form-label {
  display: block;
  margin-bottom: 5px;
}
.inventory-form .checkbox-group {
  margin-bottom: 10px;
}

.inventory-form .form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
